<html>
  <head>
    <style>
      body {
        background-color: turquoise;
      }
    </style>
  </head>
  <body>

    <form>
        <input type='text' name='guess' />
        <input type='submit' value='Guess!' />
    </form>

    <%= message %>

  </body>
</html>
